<div class="row-category">
    <div class="col-md-3 fullvh" >
        <div class="container-fluid category" style="background-image: url('./assets/images/public-instn.jpg') ;height:100%">
            <div class="decoration-down" style="background-color: #202030"> </div>
            <img class="icon" src='./assets/images/public-icon.png' style="top: 84%;left:49%">
            <a class="name" style="top: 93%;left:49%">Javne i zdravstvene ustanove</a>
        </div>
    </div>
    <div class="col-md-5 fullvh" >
        <div class="container-fluid category" style="background-image: url('./assets/images/educationm.jpg'); background-position: center; height: 50%">
            <div class="decoration-right" style="background-color: #00ae8e"> </div>
            <img class="icon" src='./assets/images/education-icon.png' style="top: 23%;left:87%">
            <a class="name" style="top: 30%;left:87%;">Obrazovanje</a>
        </div>
         <div class="container-fluid category" style="background-image: url('./assets/images/foodm.jpg'); background-position: right; height: 50%">
            <div class="decoration-left" style="background-color: #6f1036"> </div>
            <img class="icon" src='./assets/images/food-icon.png' style="top: 78%;left:13%">
            <a class="name" style="top: 86%;left:13%;">Hrana i piće</a>
         </div>
    </div>
    <div class="col-md-4 fullvh">
        <div class="container-fluid category" style="background-image: url('./assets/images/culturem.jpg'); background-position: right; height: 20%">
            <div class="decoration-right" style="background-color: #f7ce3e"> </div>
            <img class="icon" src='./assets/images/culture-icon.png' style="top: 10%;left:88%">
            <a class="name" style="top: 17%;left:89%;">Kultura</a>
        </div>
        <div class="container-fluid category" style="background-image: url('./assets/images/funm.jpg'); background-position: right; height: 80%">
            <div class="decoration-top" style="background-color: #5bb7d6"> </div>
            <img class="icon" src='./assets/images/fun-icon.png' style="top: 30%;left:49%">
            <a class="name" style="top: 37%;left:49%;">Zabava</a>
        </div>
    </div>
</div>