body,html{
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

.navbar{
    background-color: #202030;
    opacity: 0.9;
    height: 55px!important;
    border-bottom-color: #202030!important;
}

.navbar-nav{
    width: 100%;
    text-align: center;
    float: none!important;
}

li{
    float:none!important;
    display: inline-block!important;
    font-family: Century Gothic;
}

.menu-text{
    color: #f7ce3e!important;
}

a:hover{
    background-color: transparent!important;
    text-shadow:  0.0px 0.2px #f7ce3e;
}
